<!DOCTYPE html>
<html>
<head>
	{% block head %}
        <meta charset="utf-8">
	    <title>{% block title %}Template - HelloFlask{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
        {% block styles %}
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">  
        {% endblock styles %}
	{% endblock head %}
</head>
<body>
    <nav>
        <ul><li><a href="{{ url_for('index') }}">Home</a></li></ul>
    </nav>
    {# Flask提供了get_flashed_messages()函数用来在模板里获取消息 #}
    <main>
        {% for message in get_flashed_messages() %}
            <div class="alert">{{ message }}</div>
        {% endfor %}
    	{% block content %}{% endblock content %}
    </main>
    <footer>
    	{% block footer %}
        <small> &copy; 2019 <a href="https://shansan.top" title="Written by shansan">shansan</a> /
            <a href="https://github.com/greyli/helloflask" title="Fork me on GitHub">GitHub</a> /
            <a href="http://helloflask.com" title="A HelloFlask project">HelloFlask</a>
        </small>
        {% endblock %}
    </footer>
    {% block scripts %}
    {% endblock scripts %}
</body>
</html>