<!DOCTYPE html>
<html>
<head>
	{% block head %}
        <meta charset="utf-8">
	    <title>{% block title %}Template - HelloFlask{% endblock %}</title>
	    {% block styles %}{% endblock styles %}
	{% endblock head %}
</head>
<body>
    <ul><li><a href="{{ url_for('index') }}">Home</a></li></ul>
    <main>
    	{% block content %}{% endblock content %}
    </main>
    <footer>
    	{% block footer %}
        {% endblock footer %}
    </footer>
    {% block scripts %}{% endblock scripts %}
</body>
</html>